# Python
__pycache__/

# Conda / virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Data files
data/raw/
data/raw_unadjusted/
data/data_inspection_results/
data/cleaned/
data/cleaned_unadjusted/
data/indicators/
data/activity/
data/analysis/
data/patterns/
src/__pycache__/
