# Conda / virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Data Files
market_data_pipeline/data/

minute_kline/data/minute/

fundamentals/data/

# Figure Files
minute_kline/figure/

# Python
market_data_pipeline/src/__pycache__/
market_data_pipeline/src/analyze_all_limit_events.py
market_data_pipeline/src/fetch_stock_valuation.py

minute_kline/src/__pycache__/

fundamentals/src/__pycache__/
